---
- name: "Running task on Master...Removing previous ssh tunnel connecting to TH (If present)"
  script: remove_tunnel.sh
  register: ignore_me
  when: inventory_hostname in groups['master']
  failed_when: ignore_me.rc != 1 and ignore_me.rc != 0

- name: "Running task on Master...Creating ssh tunel to reach the Kafka manager pod"
  remote_user: root
  shell: kubectl port-forward -n $(kubectl get namespaces | cut -d ' ' -f 1 |  grep arcsight) deployment/th-kafka-manager 9001:9000 &
  when: inventory_hostname in groups['master']

- name: "Running task on all nodes, Copying kafka_topic_size.sh"
  copy:
    src: kafka_topic_size.sh
    dest: /opt/TH_SCRAPPER/kafka_topic_size.sh
    owner: telegraf
    group: telegraf
    mode: 0775
    backup: yes
  when: inventory_hostname in groups['all']

- name: "Enabling Telegraf"
  shell: |
    systemctl enable telegraf

- name: "Restarting Telegraf"
  shell: |
    systemctl restart telegraf
