---
- name: Making a backup of /usr/lib/systemd/system/telegraf.service
  copy:
    src: /usr/lib/systemd/system/telegraf.service
    dest: /usr/lib/systemd/system/telegraf.service.original
    remote_src: yes

- name: "Configuring telegraf to run as root"
  shell: |
    sed -i 's/User=telegraf/User=root/' /usr/lib/systemd/system/telegraf.service